[Desktop Entry]
Version=1.0
Type=Application
Name=Screenshot
Comment=Take a screenshot
Exec=/home/gabriel/.config/hypr/screenshot.sh
Icon=/run/current-system/sw/share/icons/Chicago95/apps/scalable/accessories-camera.svg
Terminal=false
Categories=Utility;Development;
